{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/adminLTE.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin-application-edit.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin-form-financing-provisioning-certification.css') }}">

{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g==" crossorigin="anonymous" referrerpolicy="no-referrer" />#}
{% endblock head_stylesheets %}

{% block head_javascript %}
    {{ parent() }}
    <script src="{{ asset('field-collection.js', ea.assets.defaultAssetPackageName) }}"></script>
{% endblock head_javascript %}

{% block main %}
    {{ parent() }}
    {% block detail_fields %}
    {% endblock detail_fields %}
    {% set extension_icons = {
        'gif': 'fa-file-image-o',
        'jpg': 'fa-file-image-o',
        'pdf': 'fa-file-pdf-o',
        'png': 'fa-file-image-o',
        'zip': 'fa-file-archive-o'
    } %}
    <div class="field-text">
        <div class="content-panel">
            {% include 'partials/accordions.html.twig' with {
                accordionId: 'accordion-practice-data',
                accordions: [
                    {
                        title: 'Dati generali pratica',
                        fields: [
                            {
                                label: 'crud.application.grid.column_label.practice_web_id'|trans,
                                value: entity.instance.id
                            },
                            {
                                label: 'crud.application.grid.column_label.nsia_id'|trans,
                                value: entity.instance.NsiaNumeroPosizione
                            }
                        ]
                    },
                    {
                        title: 'Dati impresa',
                        fields: [
                            {
                                label: 'crud.application.pages.detail.fields.business_name'|trans,
                                value: entity.instance.AeIbBusinessName
                            },
                            {
                                label: 'crud.application.pages.detail.fields.fiscal_code'|trans,
                                value: entity.instance.AeIbFiscalCode
                            },
                            {
                                label: 'crud.application.pages.detail.fields.pec'|trans,
                                value: entity.instance.aePecAddress
                            }
                        ]
                    },
                    {
                        title: 'Dati finanziamento',
                        fields: [
                            {
                                label: 'crud.application.grid.column_label.practice_id'|trans,
                                value: entity.instance.practiceId
                            },
                            {
                                label: 'crud.application.grid.column_label.flag_energia'|trans,
                                value: entity.instance.flagEnergia
                            },
                            {
                                label: 'crud.application.pages.detail.fields.financing_data.type'|trans,
                                value: entity.instance.contrattoTipo
                            },
                            {
                                label: 'crud.application.pages.detail.fields.financing_data.signature_contract_date'|trans,
                                value: entity.instance.contrattoDataFirma ? entity.instance.contrattoDataFirma|date('d/m/Y') : ''
                            },
                            {
                                label: 'crud.application.pages.detail.fields.financing_data.fdf_issue_date'|trans,
                                value: entity.instance.contrattoDataErogazione ? entity.instance.contrattoDataErogazione|date('d/m/Y') : ''
                            },
                            {
                                label: 'crud.application.pages.detail.fields.financing_data.finality'|trans,
                                value: entity.instance.contrattoFinalita
                            },
                            {
                                label: 'crud.application.pages.detail.fields.financing_data.amount'|trans,
                                value: entity.instance.contrattoImporto|format_currency
                            },
                            {
                                label: 'crud.application.pages.detail.fields.financing_data.months_duration'|trans,
                                value: entity.instance.contrattoDurataMesi
                            },
                        ]
                    },
                    {
                        title: 'Dati garanzia confidi',
                        fields: [
                            {
                                label: 'crud.application.pages.detail.fields.confidi.amount_guarantee'|trans,
                                value: entity.instance.AeGAssuranceAmount|format_currency
                            },
                            {
                                label: 'crud.application.pages.detail.fields.confidi.deliberation_date'|trans,
                                value: entity.instance.AeGResolutionDate ? entity.instance.AeGResolutionDate|date('d/m/Y') : ''
                            }
                        ]
                    },
                    {
                        title: 'Dati riassicurazione',
                        fields: [
                            {
                                label: 'crud.application.pages.detail.fields.practice.start_date'|trans,
                                value: entity.instance.NsiaDataInizioGaranzia ? entity.instance.NsiaDataInizioGaranzia|date('d/m/Y') : ''
                            },
                            {
                                label: 'crud.application.pages.detail.fields.practice.end_date'|trans,
                                value: entity.instance.NsiaDataFineGaranzia ? entity.instance.NsiaDataFineGaranzia|date('d/m/Y') : ''
                            },
                            {
                                label: 'crud.application.pages.detail.fields.practice.status'|trans,
                                value: entity.instance.status|trans([], 'application_status')
                            },
                            {
                                label: 'crud.application.pages.detail.fields.practice.inquest_status'|trans,
                                value: entity.instance.inquestStatus|trans([], 'application_inquest_status')
                            },
                            {
                                label: 'crud.application.pages.detail.fields.practice.deliberate_date'|trans,
                                value: entity.instance.NsiaDataDelibera ? entity.instance.NsiaDataDelibera|date('d/m/Y') : ''
                            },
                            {
                                label: 'crud.application.pages.detail.fields.practice.reinsured_amount'|trans,
                                value: entity.instance.NsiaImportoRiassicurazione|format_currency
                            },
                            {
                                label: 'crud.application.pages.detail.fields.practice.granted_esl'|trans,
                                value: entity.instance.NsiaEslRiassicurazione
                            },
                            {
                                label: 'crud.application.grid.column_label.nsia_nota'|trans,
                                value: entity.instance.NsiaNota
                            }
                        ]
                    }
                ]
            } %}
        </div>
    </div>
    <div id="application_additional_contributions_focus"></div>
    <div class="field-text">
        <div class="content-panel">
            <div class="content-panel-body without-header without-footer without-padding">
                <dl class="datalist">
                    <div class="data-row with-background">
                        <dd>
                            Contributi aggiuntivi
                        </dd>
                        <dt>
                            {{ form_start(applicationAdditionContributionsForm, {attr: {id: 'form-addition-contributions'}}) }}
                                {% for addContr in applicationAdditionContributionsForm.additionalContributions %}
                                    {{ form_widget(addContr.type) }}
                                    {% if addContr.typeNotMapped is defined %}
                                        {{ form_widget(addContr.typeNotMapped) }}
                                    {% endif %}
                                    {% if addContr.typeNotMappedMissing is defined and addContr.typeNotMappedMissing.vars.value == constant('App\\Entity\\AdditionalContribution::TYPE_CFP') %}
                                        {{ form_widget(addContr.typeNotMappedMissing) }}
                                    {% endif %}
                                {% endfor %}
                                I documenti necessari vanno inseriti nella sezione "Allegati aggiuntivi"
                                {{ form_row(applicationAdditionContributionsForm.submit, {
                                    attr: {
                                        'data-toggle': 'modal',
                                        'data-target': '#addition-contributions-confirm'
                                    }
                                }) }}
                            {{ form_end(applicationAdditionContributionsForm) }}
                        </dt>
                    </div>

                    {% if entity.instance.additionalContributions %}
                    <div class="data-row with-background">
                        <table class="table datagrid with-rounded-top ">
                            <thead>
                                <tr>
                                    <th class="  text-" dir="ltr">
                                        Tipo
                                    </th>
                                    <th class="  text-" dir="ltr">
                                        Codice Nsia
                                    </th>
                                    <th class="  text-" dir="ltr">
                                        Contributo Deliberato
                                    </th>
                                    <th class="  text-" dir="ltr">
                                        Contributo Liquidato
                                    </th>
                                    <th class="  text-" dir="ltr">
                                        Data Delibera
                                    </th>
                                    <th class="  text-" dir="ltr">
                                        Data Liquidazione
                                    </th>
                                    <th class="  text-" dir="ltr">
                                        Status
                                    </th>
                                    <th class="  text-" dir="ltr">
                                        Nota
                                    </th>
                                </tr>
                            </thead>
                            {% for addContr in entity.instance.additionalContributions %}
                                {% if addContr.nsiaNumeroPosizione %}
                            <tr>
                                <td class=" text- field-text" dir="ltr">
                                    {{ addContr.type|trans }}
                                </td>
                                <td class=" text- field-text" dir="ltr">
                                    {{ addContr.nsiaNumeroPosizione }}
                                </td>
                                <td class=" text- field-text" dir="ltr">
                                    {{ addContr.nsiaImportoContributoDeliberato|format_currency }}
                                </td>
                                <td class=" text- field-text" dir="ltr">
                                    {{ addContr.nsiaImportoContributoLiquidato|format_currency }}
                                </td>
                                <td class=" text- field-text" dir="ltr">
                                    {{ addContr.nsiaDataDelibera is empty ? "" :  addContr.nsiaDataDelibera|date("d/m/Y") }}
                                </td>
                                <td class=" text- field-text" dir="ltr">
                                    {{ addContr.nsiaDataLiquidazione is empty ? "" :  addContr.nsiaDataLiquidazione|date("d/m/Y") }}
                                </td>
                                <td class=" text- field-text" dir="ltr">
                                    {{ addContr.nsiaStatus|trans([], 'additional_contribution_status') }}
                                </td>
                                <td class=" text- field-text" dir="ltr">
                                    {{ addContr.nsiaNota }}
                                </td>
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}

                </dl>
            </div>
        </div>
    </div>
    {% if entity.instance.fDfLoanProvidedAtImport == 'N' and entity.instance.status == constant('App\\Entity\\Application::STATUS_NSIA_00111')%}
{#    {% if 1 == 1%}#}
    <div class="field-text">
        <div class="content-panel">
            <div class="content-panel-body without-header without-footer without-padding">
                <dl class="datalist">
                    <div class="data-row with-background">
                        <dd>
{#                            Dati finanziamento#}
                            Attestazione erogazione
                        </dd>
                        <dt>
{#                            {% form_theme  applicationFinancingProvisioningCertificationForm 'bootstrap_4_layout.html.twig' %}#}
                            {{ form_start(applicationFinancingProvisioningCertificationForm, {attr: {id: 'form-financing-provisioning'}}) }}
                            <div class="hidden">
                                {{ form_row(applicationFinancingProvisioningCertificationForm.application) }}
                            </div>
                            {{ form_end(applicationFinancingProvisioningCertificationForm) }}
                            {% if entity.instance.financingProvisioningCertification and entity.instance.financingProvisioningCertification.status != constant('App\\Entity\\FinancingProvisioningCertification::STATUS_COMPLETED') %}
                                <a id="download-pdf"
                                   href="{{ path('download-financing-provisioning-certification-pdf', {'id':entity.instance.id})}}"
                                   data-filename="{{ entity.instance.practiceId | replace({' ':'-'})}}_{{ entity.instance.aeIbBusinessName | replace({' ':'-'})}}_{{ 'now'| date('Y.m.d') }}.pdf"
                                   class="btn btn-success"
                                >Scarica pdf</a>
                            {% endif %}

                            {% if entity.instance.financingProvisioningCertification and entity.instance.financingProvisioningCertification.status == constant('App\\Entity\\FinancingProvisioningCertification::STATUS_DOWNLOADED') %}
                                <a id="reset-pdf"
                                   href="{{ path('reset-financing-provisioning-certification-pdf', {'id':entity.instance.id})}}"
                                   class="btn btn-warning"
                                >Reset pdf</a>
                            {% endif %}

{#                            {% if entity.instance.financingProvisioningCertification and entity.instance.financingProvisioningCertification.status != constant('App\\Entity\\FinancingProvisioningCertification::STATUS_PENDING') %}#}
                            {% if entity.instance.financingProvisioningCertification and entity.instance.financingProvisioningCertification.status == constant('App\\Entity\\FinancingProvisioningCertification::STATUS_DOWNLOADED') %}
                                {{ form_start(applicationFinancingProvisioningCertificationPdfForm, {attr: {id: 'form-financing-provisioning-pdf'}}) }}
                                {{ form_end(applicationFinancingProvisioningCertificationPdfForm) }}
                            {% endif %}
                        </dt>
                    </div>
                    <div class="data-row with-background">
                        {% if entity.instance.financingProvisioningCertification and entity.instance.financingProvisioningCertification.status == constant('App\\Entity\\FinancingProvisioningCertification::STATUS_COMPLETED') %}
                            <dd>
                                <p>Documento .pdf firmato ed inviato.</p>
                            </dd>
                            <dt>
                                    <a href="{{ path('financing-provisioning-download-signed-pdf', {
                                        id: entity.instance.financingProvisioningCertification.id,
                                        fileName: entity.instance.financingProvisioningCertification.filename
                                    }) }}">
                                        <i class="icon-fa-app fa fa-fw fa-file-o"></i> {{ entity.instance.financingProvisioningCertification.originalFileName }}<br>
                                        ({{ entity.instance.financingProvisioningCertification.fileSize|size_units }} - {{ entity.instance.financingProvisioningCertification.fileUploadedAt|date("d/m/Y H:i:s") }})
                                    </a>
                            </dt>
                        {% endif %}
                    </div>


                </dl>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="field-text">
        <div class="content-panel">
            <div class="content-panel-body without-header without-footer without-padding">
                <dl class="datalist">
                    {% if entity.instance.financingProvisioningCertification and entity.instance.financingProvisioningCertification.status == constant('App\\Entity\\FinancingProvisioningCertification::STATUS_COMPLETED') %}
                        <div class="data-row">
                            <dd>
                                Attestazione erogazione
                            </dd>
                            <dt>
                                <a href="{{ path('financing-provisioning-download-signed-pdf', {
                                    id: entity.instance.financingProvisioningCertification.id,
                                    fileName: entity.instance.financingProvisioningCertification.filename|replace({'.pdf': ''})
                                }) }}">
                                    <i class="icon-fa-app fa fa-fw fa-file-o"></i> {{ entity.instance.financingProvisioningCertification.originalFileName }}<br>
                                    ({{ entity.instance.financingProvisioningCertification.fileSize|size_units }} - {{ entity.instance.financingProvisioningCertification.fileUploadedAt|date("d/m/Y H:i:s") }})
                                </a>
                            </dt>
                        </div>
                    {% endif %}
                    <div class="data-row with-background">
                        <dd>
                            Allegato domanda firmata
                        </dd>
                        <dt>
                            <div>
                                {% if entity.instance.applicationGroup and entity.instance.applicationGroup.fileName %}
                                <a href="{{ url('app_admin_applicationgroupcrud_download', {
                                    id: entity.instance.applicationGroup.id,
                                    fileName: entity.instance.applicationGroup.fileName
                                }) }}">
                                    <i class="icon-fa-app fa fa-fw fa-file-o"></i> {{ entity.instance.applicationGroup.originalFileName }}<br>
                                    ({{ entity.instance.applicationGroup.fileSize|size_units }} - {{ entity.instance.applicationGroup.fileUploadedAt|date("d/m/Y H:i:s") }})
                                </a>
                                {% endif %}
                            </div>
                        </dt>
                    </div>
                    <div class="data-row">
                        <dd>
                            Allegati colloquio
                        </dd>
                        <dt>
                            {% for message in entity.instance.publishedMessages %}
                                {% for messageAttachment in message.attachments %}
                                    {% set file_extension = messageAttachment.fileName|split('.')|last %}
                                        <div>
                                            <a href="{{ messageAttachment.fileWebPath }}">
                                                <i class="icon-fa-app fa fa-fw {{ extension_icons[file_extension] ?? 'fa-file-o' }}"></i> {{ messageAttachment.originalfileName }}<br>
                                                ({{ messageAttachment.fileSize|size_units }} - {{ message.updatedAt|date("d/m/Y H:i:s") }})
                                            </a>
                                        </div>
                                    <br>
                                {% endfor %}
                            {% endfor %}
                        </dt>
                    </div>
                    <div class="data-row with-background">
                        <dd>
                            Allegati aggiuntivi
                            <div id="application_attachments_focus"></div>
                        </dd>
                        <dt>
                            {{ form(applicationAttachmentsForm) }}
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div class="field-text">
        <div class="box direct-chat direct-chat-warning">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'crud.application.pages.detail.inquest_box.title'|trans }}</h3>
            </div>
            <div class="box-body">
                <div id="list-messages-container" class="direct-chat-messages">
                    {% set sortedMessages = entity.instance.publishedMessages|sort((a, b) => a.updatedAt.timestamp <=> b.updatedAt.timestamp)|reverse %}
                    {% for message in sortedMessages %}
                        <div id="message_{{ message.id }}" class="direct-chat-msg {% if app.user == message.createdBy %}right{% else %}left{% endif %}">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-{% if app.user == message.createdBy %}right{% else %}left{% endif %}">{{ message.createdBy ? message.createdBy.fullName : '' }}</span>
                                <span class="direct-chat-timestamp pull-{% if app.user == message.createdBy %}right{% else %}left{% endif %}">{{ message.updatedAt|date('d/m/Y H:i') }}</span>
                            </div>
                            <img class="direct-chat-img" src="/images/chat_avatar_placeholder.png" alt="message user image">
                            <div class="direct-chat-text">
                                {% if message.text %}{{ message.text|raw }}{% endif %}
                                {% for att in message.attachments %}
                                    <a rel="noopener" target="_blank" href="{{ att.fileWebPath }}">
                                        {{ att.originalFilename }}{{ ' ' }}
                                    </a>
                                    <br/>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if canEditApplicationMessageForm %}
            <div class="box-footer">
                {{ form_start(applicationMessageForm, { 'attr': { 'id': 'form-application-message' } }) }}
                <div class="col-12">
                {{ form_widget(applicationMessageForm.text, { 'class': 'form-control' }) }}
                </div>
                <div class="col-6 mb-5 mt-2">
                    <div class="input-group">
                            <span class="input-group-text" id="upload-label">
                                <i class="fa fa-paperclip"></i>
                            </span>
                        {{ form_widget(applicationMessageForm.attachments, { attr: { 'aria-describedby': 'btn-send-message', 'enctype':'multipart/form-data', 'class':'file-upload-message' } }) }}
                            <button
                                id="btn-send-message"
                                type="submit"
                                class="btn btn-outline-primary btn-primary">
                                Invia
                            </button>
                    </div>
                </div>
                {{ form_end(applicationMessageForm) }}
                <div id="wrapper-draft-old-attachments">
                    {% if applicationMessageForm.vars.value %}
                        {% for att in applicationMessageForm.vars.value.attachments %}
                            <div class="single-item-attachment-wrapper">
                                <a class="btn btn-danger btn-delete-attachment"
                                   data-api-delete="{{ att.apiDelete }}"
                                   data-role="btn-delete-message-attachment"
                                ><i class="fa fa-remove"></i>
                                </a>
                                <a target="_blank" rel="noopener" href="{{ att.fileWebPath }}" data-role="old-draft-attachment" data-old-attachment-id="{{ att.id }}">
                                    {{ att.originalFilename }}{{ ' ' }}
                                </a>
                                <br/>
                                <br/>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="wrapper-draft-new-attachments">
                </div>
                <div class="div-orphan-with-margin">
                    <button id="btn-save-message" type="submit"
                            class="btn btn-save-draft-message" >Salva come bozza
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="field-text">
        <div class="content-panel">
            <div class="content-panel-body without-header without-footer without-padding">
                <dl class="datalist">
                    <div class="data-row field-application-status-log">
                        <dd>
                            {{ 'crud.application.grid.column_label.status_history'|trans }}
                        </dd>
                        <dt>
                            {% set applicationStatusLogs = {'value': entity.instance.applicationStatusLogs} %}
                            {% include 'admin/field/application_status_log.html.twig' with {
                                field: applicationStatusLogs,
                            } %}
                        </dt>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    {% include 'partials/form_submit_confirm_modal.html.twig' with {
        modalId: 'addition-contributions-confirm',
        title: 'Vuoi salvare i contributi aggiuntivi?',
        content: 'Salvando non sarà più possibile deflaggare i dati',
        noLabel: 'Annulla',
        yesLabel: 'Salva',
        formId: 'form-addition-contributions'
    } %}

    <div id="modal-financing-provisioning-certification-pdf-upload-confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>{{ 'crud.application.modal_financing_provisioning_certification_upload.title'|trans }}</h4>
                    <p>{{ 'crud.application.modal_financing_provisioning_certification_upload.content'|trans|raw }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            data-dismiss="modal"
                            class="btn btn-secondary">
                        <span
                            class="btn-label">{{ 'crud.application.modal_financing_provisioning_certification_upload.actions.cancel'|trans }}</span>
                    </button>

                    <button type="submit"
                            data-dismiss="modal"
                            class="btn btn-primary"
                            id="modal-financing-provisioning-certification-pdf-upload-confirm-button"
                            form="financing_provisioning_certification_pdf"
                            name="ea[newForm][btn]">
                        <span
                            class="btn-label">{{ 'crud.application.modal_financing_provisioning_certification_upload.actions.confirm'|trans }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/application_detail.js') }}"> </script>
    <script type="module" src="{{ asset('js/application_detail_chat.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('js/vich_file_widget_application_attachments.js') }}"> </script>
{% endblock body_javascript %}
